// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$font-body: Arial, Helvetica, Sans-serif;;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$color-space: #141b31;

// -----------------------------------------------------------------------------
//! Z-indexes
// -----------------------------------------------------------------------------

$z_index-level6: 120;
$z_index-level5: 100;
$z_index-level4: 75;
$z_index-level3: 50;
$z_index-level2: 25;
$z_index-level1: 1;
$z_index-level0: -1;

// -----------------------------------------------------------------------------
//! Breakpoints 
// -----------------------------------------------------------------------------

