// -----------------------------------------------------------------
//! Stars
// -----------------------------------------------------------------

.starfield {
	position: absolute;
	overflow: hidden;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.star {
	background: rgba(255,255,255,0.9);
	border-radius: 50%;
	position: absolute;
	width:6px;
	height:6px;
	top:-8px;
}

#star-1 {left:10%;}
#star-2 {left:20%;}
#star-3 {left:30%;}
#star-4 {left:40%;}
#star-5 {left:50%;}
#star-6 {left:60%;}
#star-7 {left:70%;}
#star-8 {left:80%;}
#star-9 {left:90%;}
#star-10 {left:100%;}
#star-11 {left:110%;}
#star-12 {left:120%;}
#star-13 {left:130%;}
#star-14 {left:140%;}
#star-15 {left:150%;}
#star-16 {left:160%;}
#star-17 {left:170%;}
#star-18 {left:60%;}
#star-19 {left:160%;}
#star-20 {left:140%;}
